<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Event Handler | Welcome </title>
        <link rel="stylesheet" href="../resources/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <% include header.ejs %>
         <section id="categories">
            <div class="container">
                <div class="category">
                    <div class ="title">
                    <img src="../resources/img/sports.jpg" id="sports-img" alt="sport-category">
                    <h3><a href="#">Sports</a></h3>
                    </div>
                    <ul>
                            <% for(var i=0; i< connectiondata.length; i++){ %>
                        <% if(connectiondata[i].connection_topic === "Sports") {%>
                        <li><a href="/connection?connectionid=<%=connectiondata[i].connectionID%>"><%= connectiondata[i].connection_name %></a></li>
                        <%}%>
                        <% }%>
                    </ul>
                        <div class ="title">
                                <img src="../resources/img/Education.jpg" id="education-img" alt="education-category">
                                <h3><a href="#">Education</a></h3>
                                </div>
                                <ul>
                                        <% for(var i=0; i< connectiondata.length; i++){ %>
                                            <% if(connectiondata[i].connection_topic === "Education"){ %>
                                    <li><a href="/connection?connectionid=<%=connectiondata[i].connectionID%>"><%= connectiondata[i].connection_name %></a></li>
                                    <%}%>
                                    <% }%>
                                </ul>
                </div>
            </div>
       </section>
       <% include footer.ejs %>
    </body>
</html>