<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Event Handler | Welcome </title>
        <link rel="stylesheet" href="../resources/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
            <%if(header){ %>
                <% include header-con.ejs %>
               <%} else{ %>
                <% include header.ejs %>
               <%}%>
        <section class="contact-us">
            <div class="container">
                <h2>Contact Us</h2>
                <p> If you wanna talk to the team of &lt;EventHandler/&gt; please send us email on: abc@eventhandler.com or you can follow us on the facebook and twitter: @EventHandler </p>
             </div>
        </section>
        <% include footer.ejs %>
    </body>
</html>