
<footer>
  <div class="container">
    <div class="left-footer">
         <ul>
            <li>EventHandler co. &copy;</li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="right-footer">
    <ul>
        <li><a href="facebook.com" class="fa fa-facebook"></a></li>
    </ul>
    </div>
        </div>
</footer>