<header>
    <div class="container">
            <div class="logo-container">
                    <a href="/"> <img src="../resources/img/logo.png" id="logo" alt="web-logo"/> </a>
                </div>
        <nav>
            <ul class ="left-nav">
                <li><a href="/connections">Connections</a></li>
            </ul>
            <ul class="right-nav">
                <li>
                    <a href="/newConnection">Start A New Connection</a>
                    <a href="/savedconnections?action=signout">Logout</a>
                    <a href="/myconnections">My Connections</a>
                </li>
            </ul>
        </nav>
    </div>
    </header>