<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Event Handler | Welcome </title>
        <link rel="stylesheet" href="../resources/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
       <%if(header){ %>
        <% include header-con.ejs %>
       <%} else{ %>
        <% include header.ejs %>
       <%}%>
        <section id ="intro">
            <div class="container">
            <h1>Welcome To &lt;EventHandler/&gt;</h1>
            <p>Join &lt;EventHandler/&gt; to meet new people and attend local events in your area.</p>
            <button onclick="location.href='/signup'" class="login_button">Join EventHandler</button>
            </div>
        </section>

        <section id ="next-page-nav">
            <div class="container">
                <h2>Discover the events near you. </h2>
                <p>Are you looking for a buddy to hangout with, play a team sport, or watch game together?</p>
                <button onclick="location.href='/connections'" class="Connection_button">Look for an event </button>
            </div>
        </section>
        <% include footer.ejs %>
     
    </body>
</html>