<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Event Handler | Welcome </title>
        <link rel="stylesheet" href="../resources/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
           
                <% include header.ejs %>
              
        <section class="signup">
            <div class="signupcontainer">
                <h2>Welcome to &lt;EventHandler/&gt; </h2>
                <p>Please enter your personal details.</p>
                <% if(error !== false){%>
                    <p id="invalid-pass">Passwords do not match. Please try again.</p>
                  <%}%>
                <form class="signupform" method="POST" action="signup">
                    <label>First Name: <input type="text"  name="first_name" placeholder="Enter your First Name" size="32" required/></label>
                    <label>Last Name: <input type="text"  name="last_name" placeholder="Enter your Last Name" size="32" required/></label>
                    <label>UserName: <input type="text"  name="email" placeholder="Enter your emailID" size="32" required/></label>
                    <label> Password: <input type="password"  name="password" placeholder="Enter your password" size="32" pattern="[a-zA-Z0-9\s]+" minlength="8" required/></label>
                    <label> Confirm Password: <input type="password"  name="confirmpassword" placeholder="Re-enter your password" size="32" required/></label>
                    <label> Country: <input type="text"  name="country" placeholder="Enter your Country" size="32" required/></label>
                    <input type="submit" id="signup-submit" value="Submit"/>
                </form>
             </div>
        </section>
        <% include footer.ejs %>
    </body>
</html>